[control_plane]
k8s-master ansible_host=<MASTER_IP> ansible_user=user1

[workers]
k8s-worker-1 ansible_host=<WORKER_1_IP> ansible_user=user1
k8s-worker-2 ansible_host=<WORKER_2_IP> ansible_user=user1

[k8s_cluster:children]
control_plane
workers

[k8s_cluster:vars]
ansible_ssh_private_key_file=/home/<local-user>/.ssh/id_rsa
ansible_ssh_transfer_method=piped
